body 
{
	background-image: url(../img/left_14.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #B0A8B9;
	color: #000000;
	font-family: "宋体";
	font-size: 11pt;
}

	
.shijan {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

.txt {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #336D93;
	text-decoration: none;
}

.lba {
	font-family: "宋体";
	font-size: 12px;
	color:White;
}

.txttd {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	text-decoration: none;
}


a:link {
	font-family: "宋体";
	font-size: 12px;
	color: #1F65AE;
	text-decoration: none;

}
a:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #1F65AE;
	text-decoration: none;

}
a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #1F65AE;
	text-decoration: none;

}

a.a1:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
a.a1:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
a.a1:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #1F65AE;
	text-decoration: none;

	font-weight: normal;
}
a.a8:link {
	font-family: "宋体";
	font-size: 10.5pt;
	font-weight: bold;
	color: #2F58A4;
	text-decoration: none;
}

a.a2:link {
	font-family: "宋体";
	font-size: 12px;
	color: #1F65AE;
	text-decoration: none;

}
a.a2:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;

	font-weight: normal;
}

a.a3:link {
	font-family: "宋体";
	font-size: 12px;
	color: #FFA400;
	text-decoration: none;
	font-weight: normal;
}

a.a6:link {
	font-family: "宋体";
	font-size: 16px;
	color: #1F65AE;
	font-weight:bold;
	text-decoration: none;

}
a.a6:visited {
	font-family: "宋体";
	font-size: 16px;
	color: #1F65AE;
	font-weight:bold;
	text-decoration: none;

}
a.a6:hover {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #1F65AE;
	font-weight:bold;
	text-decoration: none;

}

a.a9:link {
	font-family: "宋体";
	font-weight:bold;
	font-size: 16px;
	color: #000000;
	text-decoration: none;

}
a.a9:visited {
	font-family: "宋体";
	font-weight:bold;
	font-size: 16px;
	color: #000000;
	text-decoration: none;

}
a.a9:hover {
	font-family: "宋体";
	font-weight:bold;
	font-size: 16px;
	color: #1F65AE;
	text-decoration: none;


}

.txt6 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.quanbu{
	border-style: none;
    border-color: inherit;
    border-width: 1px;
    background-color: #6C9EC1;
	margin-top: 0px;
}
.dan {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #A0C0D6;
	text-indent: 3px;
	height: 20px;
}
.suang {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	background-color: #F3F5FC;
	text-indent: 3px;
	height: 20px;
}

.mdr
{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #E2F7FE;
	text-indent: 3px;
	line-height: 20px;
	 _cursor:hand;
	
}

.biaoti {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-image: url(../img/top_2.jpg);
	text-indent: 5px;
	height: 31px;
}


input 
{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;

	background-color: #FFFFFF;
	border: 1px solid #1777B4;
	}
	
	
	
.red {
	font-family: "宋体";
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
.btn1 
{
	background-color:Transparent;
	font-family: "宋体";
	font-size: 12px;
	color: #336D93;
	text-decoration: none;
	border: none;
	background-image: url(../img/login_6.gif);
	height: 23px;
	width: 68px;
	line-height: 26px;
	text-indent: 10px;
}

.btn2 {
	background-color:Transparent;
	font-family: "宋体";
	font-size: 12px;
	color: #336D93;
	text-decoration: none;
	border: none;
	background-image: url(../img/login_60.gif);
	height: 23px;
	width: 108px;
	line-height: 26px;
	text-indent: 10px;
}

.zhong {
	background-color: #E8F0F3;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #6C9EC1;
	border-bottom-color: #6C9EC1;
	height: 27px;
}

.moren {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}

/****************************************************
TreeView
*****************************************************/

.TreeView 
{ 
  background-color:Transparent;
  padding-top:4px; 
  padding-left:1px; 
  border: #5F9B2E 1px solid; 
  cursor:default; 
}

.TreeNode 
{ 
  font-family: tahoma; 
  font-size: 12px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.GrayedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 12px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: tahoma; 
  font-size: 12px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.SelectedTreeNode
{
	font-family: tahoma;
	font-size: 12px;
	font-weight:bolder;
    
	color:white;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
}